.choose {
  padding: 150px 0;

  @media (max-width: 991px) {
    padding: 75px 0;
  }

  &__wrapper {

  }

  &__title {
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 40px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 70px;
    padding-left: 40px;

    @media (max-width: 991px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 475px) {
      grid-template-columns: 1fr;
      padding-left: 0;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;

    i {
      margin-bottom: 20px;
      color: $colorPrimary;
      font-size: 50px;
      font-style: normal;
      font-weight: 300;
    }

    span {
      margin-bottom: 10px;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
    }

    p {
      margin-bottom: 20px;
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: 1.5;
    }

    a {
      position: relative;
      margin-top: auto;
      color: $colorPrimary;
      padding-left: 70px;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 1.2px;
      text-transform: uppercase;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 55px;
        height: 1.5px;
        background: $colorPrimary;
      }
    }
  }
}