.investments {
  padding: 150px 0;

  &__wrapper {
    position: relative;

    &:before {
      content: '20%';
      position: absolute;
      top: -60px;
      left: 0;
      color: #F2F2F2;
      font-size: 350px;
      font-style: normal;
      font-weight: 700;
      line-height: 1;
      opacity: .7;
    }
  }

  &__title {
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;

    span {
      color: $colorPrimary;
    }
  }

  &__list {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin-bottom: 70px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 20px;

    span {
      color: $colorPrimary;
      font-size: 50px;
      font-style: normal;
      font-weight: 300;
    }

    p {
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: 1.5;
    }
  }

  &__text {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
  }
}