.services {
  padding: 150px 0;
  background: #000 url("../img/bg-services.png") no-repeat center / cover;

  @media (max-width: 991px) {
    padding: 75px 0;
  }

  &__wrapper {
    display: flex;

    @media (max-width: 991px) {
      flex-direction: column;
    }
  }

  &__left {
    width: 30%;

    @media (max-width: 991px) {
      width: 100%;
    }
  }

  &__title {
    margin-bottom: 30px;
    color: white;
    font-size: 48px;
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 40px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media (max-width: 991px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      margin-bottom: 30px;
    }
    @media (max-width: 475px) {
      grid-template-columns: 1fr;
    }

    li {
      a {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding-left: 75px;
        cursor: pointer;

        @media (max-width: 767px) {
          padding-left: 40px;
        }

        &:hover, &:focus {
          svg, span, p {
            color: $colorPrimary;
          }
        }

        svg {
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          width: 50px;
          height: 50px;
          color: white;
          transition: all .3s ease;

          @media (max-width: 767px) {
            width: 25px;
            height: 25px;
          }
        }

        span {
          color: white;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          transition: all .3s ease;
        }

        p {
          max-width: 170px;
          color: white;
          font-size: 14px;
          font-style: normal;
          font-weight: 300;
          transition: all .3s ease;

          @media (max-width: 767px) {
            display: none;
          }
        }
      }
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 70%;
    padding-left: 50px;
    margin-top: -150px;

    @media (max-width: 991px) {
      width: 100%;
      padding-left: 0;
      margin-top: 0;
    }
  }

  .owl-carousel {
    width: 100%;

    .item {
      width: 100%;

      img {
        width: 100%;
        height: 500px;
        margin-bottom: 30px;

        @media (max-width: 991px) {
          height: 400px;
        }
        @media (max-width: 475px) {
          height: 250px;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      h4 {
        margin-bottom: 10px;
        color: white;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;

        span {
          color: $colorPrimary;
        }
      }

      p {
        margin-bottom: 30px;
        color: white;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 1.5;
      }

      a {
        position: relative;
        padding-left: 70px;
        color: $colorPrimary;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1.2px;
        text-transform: uppercase;

        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 55px;
          height: 1.5px;
          background: $colorPrimary;
        }
      }
    }

    .owl-nav {
      position: absolute;
      top: 450px;
      right: 0;
      z-index: 99;
      display: flex;
      gap: 2px;

      @media (max-width: 991px) {
        top: 350px;
      }
      @media (max-width: 475px) {
        top: 200px;
      }

      button {
        width: 50px;
        height: 50px;
        background: white !important;

        span {
          color: black;
          font-size: 30px;
        }
      }
    }
  }

  &__text {

  }
}